{
    "extends": ["standard", "plugin:react/recommended"],
    "parser": "babel-eslint",
    "rules": {
        "space-before-function-paren": "off",
        "comma-dangle": "off",
        "react/prop-types": "off",
        "indent": ["error", 4]
    },
    "env": {
        "browser": true
    }
}
